

<!--header start here-->
<div class="header">
  <div class="header-main">
    <h1>Hệ thống bán vé máy bay</h1>
    <div class="header-bottom">
      <div class="header-right w3agile">
        <div class="header-left-bottom agileinfo">

          <div class="container">
            <div class="col">
              <form action="" method="post">
   
                <div class="col text-white text-center font-italic mb-5" style="font-size: 25px;"><u>Bán vé máy bay</u>
                </div>

                <div class="form-group row">
                  <label for="flight_id" class="col-sm-3 col-form-label text-white mt-5">Nhập mã chuyến bay</label>
                  <div class="col-sm-9">
                    <input type="text" name="flight_id" class="form-control mt-5" value="" id="flight_id"
                      onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" />
                  </div>
                </div>


                <div class="form-group row">
                  <label for="seat_code" class="col-sm-3 col-form-label text-white mt-5">Mã ghế</label>
                  <div class="col-sm-9">
                    <input type="text" name="seat_code" class="form-control mt-5" id="seat_code"
                      onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" />
                  </div>
                </div>
                <input type="submit" value="Tra cứu">
              </form>
            </div>

          </div>
          <div class="row justify-content-start">
            <div class="">
              <div class="col">
                <a href="/admin">
                  <button type="button" class="btn btn-danger mt-5">
                    Trở về
                  </button>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>