{% extends 'bookings/base.html' %}
{% load static %}

{% block title %}
  <title>Admin</title>
{% endblock %}

{% block body %}
<body>
  <!--header start here-->
  <div class="header">
    <div class="header-main">
      <h1>HỆ THỐNG BÁN VÉ MÁY BAY</h1>
      <div class="header-bottom">
        <div class="header-right w3agile">
          <div class="row justify-content-end">
            <div class="col-2 mb-5 mr-4">
              <a href="{% url 'logout' %}">
                <button type="button" class="btn btn-danger">
                  Đăng xuất
                </button>
              </a>
            </div>
          </div>
          <div class="header-left-bottom agileinfo">
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                    <img src="/public/images/flight_schedule.jpg" class="card-img-top" alt="...">
                      <a href="{% url 'flights' %}" class="btn btn-dark">Tra cứu lịch bay</a>
                    </div>
                </div>
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                    <img src="/public/images/sell.jpg" class="card-img-top" alt="...">
                      <a href="/admin/AdminSelling" class="btn btn-dark">Bán vé</a>
                  </div>
                </div>  
              </div>
            </div>
            

            


          </div>
        </div>
      </div>
    </div>
  </div>
  <!--header end here-->
  <div class="copyright">
    <p>© 2016 Classy Login Form. All rights reserved | Design by
      <a href="http://w3layouts.com/" target="_blank">
        W3layouts </a>
    </p>
  </div>
  <!--footer end here-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
{% endblock %}